<%= form_tag('/products/search', method: :get) do %>
  <input class="search__query" name="keyword" placeholder="生徒名で検索" type="string" value="">
  	<button class="btn-search" title="検索" type="submit"></button> 
  </input>
<% end %>