
		<div class='column is-fullwidth-mobile is-4-desktop is-offset-1-desktop box'>
			<div class='title is-size-5-mobile is-size-4-desktop has-text-centered'>考えるエンジン検定</div>
				<% exams.each_with_index do |exam, i| %>
				  <ul>
					  <div class='subtitle is-size-5 has-text-centered'><%= exam.name %></div>
						<%= exam.has_exam(user, users_exam, exam, i) %>
					</ul>
			  <% end %>
		</div>