<% if user_signed_in? %>

<nav class='navbar is-black' role="navigation" aria-label="main navigation">
  <div class='container'>
    <div class='navber-brand'>
      <a class="navbar-item" href="http://www.251media.jp/?utm_source=kanataw&utm_medium=banner">
        <%= image_tag("251_logo.jpeg", size: "", alt: "251 media") %>
      </a>
    </div>
      <span class='navbar-burger burger' data-target="navbarMenu">
      </span>
    <div class="navbar-menu is-active">
      <div class="navbar-end">
        <a><%= link_to 'HOME', user_path(current_user), class: "navbar-item is-active"%></a>
        <a><%= link_to 'Your Profile', edit_user_path(current_user), class: "navbar-item is-active"%></a>
        <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-item is-active"%></a>
      </div>
    </div>
  </div>
</nav>

<% end %>