
		<div class="column is-fullwidth-mobile is-6-tablet is-4-desktop is-offset-1-desktop box">
			<div class='title is-size-5-mobile is-size-5-tablet is-size-4-desktop has-text-centered'>考えるエンジン講座</div>
			  <% lessons.each_with_index do |lesson, i| %>
			    <ul>
					  <%= lesson.display_title %>
							<p class='subtitle is-size-5 has-text-centered'><%= lesson.name %></p>
						  <% if lesson.user_id(user) %>
								<p class='subtitle is-size-5 has-text-link has-text-centered'><%= lesson.lesson_date(user) %></p>
								<p class='block'></p>
						  <% else %>
								<%= render partial: "users/lessonModal", locals: {lesson: lesson, i: i} %> 
							<% end %>
					</ul>
				<% end %> 
		</div> 

	