body, html {
  height: 100%;
  background-color: white;
}


.progress_layout-bg {
  background: url("thomas_edison.png"), no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
  background-color: #fffff;
  left: 0;
  right: 0;
  height: 600px;
}

/*:beforeにぼかし効果を設定する*/
.progress_layout-bg:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}

.contents {
  height: 150%;
  padding: 20px;
}

.basics {
   width: 940px;
   height: 700px;
   margin: auto;
 }

.lessons {
  background-color: #fffff;
  width: 480px;
  height: 700px;
  float: left;
  margin: auto;
}
.lesson-contents {
  background-color: #fffff;
  width: 450px;
  height: 650px;
}

.lesson-contents h3 {
  color: black;
  text-align: center;
}

.interviews {
  background-color: #fffff;
  width: 200px;
  height: 400px;
  float: left;
  margin: auto;
}

.insights {
  background-color: #fffff;
  width: 200px;
  height: 450px;
  float: right;
  margin: auto;
}

.milestones {
  width: 940px;
  height: 300px;
  margin: auto;
}

.exams {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  float: right;
  margin: auto;
}

.practices {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  float: left;
  margin: auto;
}

.advanced {
  background-color: #fffff;
  width: 400px;
  height: 600px;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.profile {
  background-color: #fffff;
  width: 480px;
  height: 600px;
  margin: auto;
}

.profile_photo {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  margin: auto;
}

.profile_info {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  margin: auto;

}

.user {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  margin: 0px;
}

.search_results {
  background-color: #fffff;
  width: 450px;
  height: 300px;
  margin: auto;
}

.user-signin {
  padding: 150px 0;
  background-color: #fffff;
  width: 500px;
  margin: auto;
  height: 400px;
}

.admin-signin {
  padding: 150px 0;
  background-color: #fffff;
  width: 500px;
  margin: auto;
  height: 400px;
}

.user-signup {
  padding: 150px 0;
  background-color: #fffff;
  width: 500px;
  margin: auto;
  height: 400px;
}

.admin-signup {
  padding: 150px 0;
  background-color: #fffff;
  width: 500px;
  margin: auto;
  height: 400px;
}



.footer {
  margin: auto;
}


